.App {
    text-align: left;
    height: 200;
    width: 200;
  }
  .App1 {
    background-color: blue;
    color: cornsilk;
  }
  .App2 {
    text-align: left;
    display: table-column;
    flex-direction: contain;
  }


.textinput{
    align-items: center;
}

.formbox{
  width: 500px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

