.img{
    width:auto;
    height: auto;
}

.card{
  background-color: darkolivegreen;
  width: 300px;
  height: auto;

}

.sqr{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
 
}
.sqrmenu{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


.fontb{
  font-size: 50px;
}
.conatiner {
	width: 100%;
	height: 500px;
}
.backgro{
  background-color: cornsilk;
}