.App {
  text-align: center;
  background-color: rgb(231, 158, 63);
}
.App2 {
  text-align: center;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Jumbotron {
  background-image: url("https://image.freepik.com/free-photo/closeup-coffee-machine_53876-42967.jpg");
  flex-direction: column;
  justify-content: center;
  max-height:50vh;
  /* max-width:auto; */
  background-size: cover;
}
.divimage{
  overflow: hidden;
  height: auto;
  justify-content: center;
  background-size: auto;
  align-items: center;
  max-height:50vh;
  max-width:auto;
}

.h1  {
  text-align: left;
  text-shadow: 2px 2px;
  color: rgb(172, 0, 0);
  text-indent: 50px;
}
.h3{
  color: azure;
}

.col{
  background-color: rgb(59, 59, 59);
}

.col2{
  background-color: blue;
  background-size: contain;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
}
/* .images{
  background-image: url("https://i.pinimg.com/originals/1a/3c/67/1a3c67417463a2af477a3c54d80af078.jpg");
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
} */